#container,#container1,#container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    align-items: center;
    gap: 20px;
}
#left_img_part_signup   , #left_img_part{
    width: 70%;
    height: auto;
}
#left_img_part{
    margin-right: 50px;
}
#left_img_part  img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
#logo{
    width: 100px;
    border: 5px solid #b8d8d4;;
   border-radius: 50%;
}
#logo_img{
   width: 25%;
    margin: auto;
}
#form{
    padding: 20px;
}
#name, #pass, #top, #top2, #mid, #bottom{
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
}
#top, #top2, #mid, #bottom{
    width:95% !important; 
}
#createClass select{
    width:93% ;
    margin-left: 12px;
}

#country1 select, #email input{
    width: 240%;
    margin: auto;
}
#select, #select2, #pass, #button , #country1, #email{
    width: 80%;
    margin: auto;
}
#gender, #role{
    width: 100%;
}
#signup{
    width: 50%;
}
#signup input{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}
select{
    padding: 5px;
    border-radius: 3px;
}
#container button, #submit_btn {
    width: 250%;
    padding: 10px;
    border-radius: 5px;
    background-color: #b8d8d4;
    /* color: gray; */
    color: black !important;
    border: none;
    cursor: pointer;
}

#submit_btn{
    padding: 10px !important;
    width: 95% 
}

#container button:hover, #submit_btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#createClass input{
    width: 100%;
}
#form1{
    width: 30%;
}
#create, #submit_btn{
    width: 100%;
}
#form1 input,#container1 #form input, #container2 #form input{
    padding: 5px;
    border:1px solid gray;
    border-radius: 3px;
    width: 90%;
    margin: auto;
    margin-left: 3%;
}
#container1 label, #container2 label{
    padding: 5px;
    width: 90%;
    margin: auto;
    margin-left: 3%;
}
#form1 select,#form1 label{
    width: 90%;
    margin-left: 3%;
}

@media screen and (max-width: 1080px) {
 #signup_img{
    display: none;
 }
 #form{
   width: max-content;
   margin-right: 20%;
 }
#container1 #form input{
    width: max-content;
}
#container1, #container2{
    display: block;
    width: max-content;
    margin: auto;
}
#createClass select{
    width: 98%;
 }
}

@media screen and (max-width: 450px) {
 #container{
    width: max-content;
    display: flex;
    justify-content: center;
 }
 #container1,#container2 {
    margin-top: 2%;
    display: block;
    width: 100%;
 }
 #container1 #form input,#container2 #form input{
    width: 90%;
}
 #container1 #form, #container2 #form{
    padding: 0px;
    width: 100%;
    margin: auto;
 }
 #createClass select{
    width: max-content;
 }
}

