*{
    margin: 0;
    padding: 0;
}
#allclasstitle{
    background-color:#b9d8d5;
    width: 95%;
    margin: auto;
    padding: 5px 5px;
    margin-top: 2%;
}

#allcallesdiv{
    width: 95%;
    margin: auto;
    max-height: 500px;
    background-color: red;
    margin-top: 2%;
    overflow: scroll;
}