*{
    margin: 0;
    padding: 0;
}
#allclasstitle{
    background-color:#b9d8d5;
    width: 95%;
    margin: auto;
    padding: 5px 5px;
    margin-top: 2%;
}

#allcallesdiv{
    width: 95%;
    margin: auto;
    max-height: 500px;
    margin-top: 2%;
    overflow: scroll;
}
#allclassescard{
    margin-top: 10px;
    }
    
    .imgclassdiv{
        display: flex;
        align-items: center;
    }
    .classimages{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    .classcard{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .imgandins , .actandseat{
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
        width: 30%;
        align-items: center;
    }
    
    .joinclassdiv{
       width: 20%;
       /* background-color: red; */
       display: flex;
       align-items: center;
       justify-content: center;
     } 
     .joinclassbutton{
        padding: 7px;
        border-radius: 5px;
        width: 60%;
        background-color: #b9d8d5;
        border: none;
     }
     .joinclassbutton:hover{
        background-color:#beebe5;
        cursor: pointer;
     }
     .singleclasslink{
        text-decoration: none;
        color: #809c98;
        text-decoration: underline;
     }
    @media(min-width: 430px) and (max-width: 1050px){
        .imgandins , .actandseat{
            width: 38%;
        }
        .joinclassdiv{
            width: 15;
        }
    }
    @media(min-width: 20px) and (max-width: 550px){
        .imgandins{
            width:37%;
            flex-direction: column;
        }
        .imgandins{
            text-align: right;
            align-items: end;
            font-size: 15px;
        }
         .actandseat{
            width:25%;
            flex-direction: column;
            text-align: center;
        }
        .joinclassdiv{
            width: 20%;
        }
        .classimages{
            width: 50px;
            height: 50px;
        }
        .joinclassdiv{
            width: 35%;
        }
    }
    
    